.straight_segment {
    border : solid black 1px;
    margin: 0;
}

.segment {
    position: absolute;
}

.border-left {
    border-left: solid black 1px;
}

.border-right {
    border-right: solid black 1px;
}

.border-top {
    border-top: solid black 1px;
}

.border-bottom {
    border-bottom: solid black 1px;
}

.occupied {
    background-color: #000000;
}

.collided {
    background-color: darkred;
}