.straight_segment {
    border : solid black 1px;
}

.source {
    border : dashed black 1px;
}

.sink {
    background-color: gray;
    border: solid black 1px;
}

.empty_segment {
    border : solid grey 1px;
}

.segment {
    position: absolute;
}

.no-border-left {
    border-left: none;
}

.no-border-right {
    border-right: none;
}

.no-border-top {
    border-top: none;
}

.no-border-bottom {
    border-bottom: none;
}

.occupied {
    background-color: #000000;
}

.collided {
    background-color: darkred;
}