<html >
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/segments.css">
    <link rel="stylesheet" type="text/css" href="/css/editor.css">
    <script src="/external-js/jquery/jquery-2.0.3.min.js"></script>
    <script src="/external-js/angular/angular.min.js"></script>

  </head>
  <body ng-app="road-block">
    <div id="main">
        <div id="road" class="road" ng-controller="RoadNetworkController" data-lift="comet?type=RoadNetworkListener">
            <div ng-repeat="segment in segments">
                <div ng-class="{'no-border-left':segment.left,
                                'no-border-right': segment.right,
                                'no-border-top':segment.top,
                                'no-border-bottom':segment.bottom,
                                'occupied':segment.occupied,
                                'collided':segment.collided,
                                'segment':true,
                                {{segment.type}}:true}"
                     style="left:{{gridSize(segment.x)}};
                            top:{{gridSize(segment.y)}};
                            width:50px;
                            height:50px"
                     ng-click="editSegment(segment)">
                </div>
            </div>
        </div>
        <div id="editor" class="editor" ng-controller="EditorController">
            <select ng-model="segment().type">
                <option value="straight_segment">straight road</option>
                <option value="empty_segment">none</option>
                <option value="source">car source</option>
                <option value="sink">car sink</option>
            </select>
            <select ng-model="segment().direction">
                <option value="up">up</option>
                <option value="down">down</option>
                <option value="left">left</option>
                <option value="right">right</option>
                <option value="none">none</option>
            </select>
            <button>submit</button>
        </div>
    </div>
    <script src="/js/services/EditorService.js"></script>
    <script src="/js/controllers/RoadNetworkController.js"></script>
    <script src="/js/controllers/EditorController.js"></script>
    <script src="/js/application.js"></script>
  </body>
</html>